
// 引入所需的变量和函数
@import "yo-config/core/extra";
@import "yo-style/core/merge-extra";
//merge-config 中用到了 variables,variables中用到了base,必须先调用merge-extra,才能访问到base
@import "yo-config/core/config";
@import "yo-style/core/merge-config";
@import "yo-style/core/function";
@import "yo-style/core/classes";

// 引入真正的组件样式
@import "yo-style/component/list";

.mh-list {
  font-size: 12px;
  .search-head {
    height: 0.44rem;
    background: #f7f7f7;
  }
  .condition-select {
    height: .35rem;
    background: #f7f7f7;
    margin-top: .12rem;
  }
  .sale-tips {
    height: .4rem;
    background: #f7f7f7;
    margin: .08rem 0;
  }
  .hotel-list {
    top: 1.47rem;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    .list-item {
      display: flex;
      min-height: 1rem;
      width: 100%;
      .list-img {
        width: 1.05rem;
        margin-right: 0.08rem;
        position: relative;
        img {
          width: 100%;
          height: 100%;
          border-radius: 0.04rem;
          position: absolute;
        }
      }
      .list-info {
        flex: 1;
        display: flex;
        flex-direction: column;
        .hotel-title {
          font-size: 16px;
          font-weight: 500;
          color: #222;
        }
        .location {
          flex: 1;
        }
        .price {
          align-self: flex-end;
        }
      }
    }
  }
}


// .condition-search {
//   @include border('5', '#c00');
// }