@charset "utf-8";
@import "~yo3/style/lib/fragment/yo-header";

/**
 * yo-header通用或全局扩展
 */
@include yo-header(
    $item-space: .1rem,
    $item-ico-color: #fff
) {
    .title {
        height: .44rem;
        line-height: .44rem;
    }
    .regret,
    .affirm {
        line-height: .44rem;
        
        i.vertical-middle {
            vertical-align: middle;
        }
    }
};