
// 引入所需的变量和函数
@import "yo-config/core/extra";
@import "yo-style/core/merge-extra";
//merge-config 中用到了 variables,variables中用到了base,必须先调用merge-extra,才能访问到base
@import "yo-config/core/config";
@import "yo-style/core/merge-config";
@import "yo-style/core/function";
@import "yo-style/core/classes";

// 引入真正的组件样式
@import "yo-style/fragment/yo-dialog";
@import "yo-style/component/carousel";

.mh-index {
  .hd-banner {
    background: #f7f7f7;
    height: 1.375rem;
    .banner-item {
      img {
        height: 1.375rem;
      }
    }
  }
  .qt-wrap {
    margin: 0 0.12rem;
  }
  .condition-search {
    // height: 1.75rem;
    .domestic {
      // height: 1.5rem;
      margin-top: 0.12rem;
      .hotel-type {
        width: 60%;
        height: 0.35rem;
        background: #f7f7f7;
        margin-bottom: 0.12rem;
      }
      .address-line, .keyword-line {
        margin: 0.06rem 0;
        height: 0.35rem;
        background: #f7f7f7;
      }
      .time-line {
        margin: 0.12rem 0;
        height: 0.7rem;
        background: #f7f7f7;
      }
    }
    .submit-box {
      margin: 0.12rem 0.06rem 0;
      height: 0.38rem;
      line-height: 0.38rem;
      border-radius: 0.24rem;
      background: #f7704a;
      color: #fff;
      text-align: center;
    }
  }
  .other-link {
    display: flex;
    justify-content: space-between;
    padding: 0 0.06rem;
    margin-top: 0.12rem;
    .link-item {
      width: 0.4rem;
      height: 0.4rem;
      border-radius: 50%;
      &:nth-child(1) {
        background-color: #f66829;
      }
      &:nth-child(2) {
        background-color: #3fc6d2;
      }
      &:nth-child(3) {
        background-color: #f9ad21;
      }
      &:nth-child(4) {
        background-color: #8b6bff;
      }
    }
  }
  .touchable-highlight {
    opacity: .3;
  }
}


// .condition-search {
//   @include border('5', '#c00');
// }