@charset "utf-8";

@-webkit-keyframes ani-to-down {
    0% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0); 
    }
    100% {
        opacity: 0;
        -webkit-transform: translate3d(0, 400%, 0);
    }
}

@keyframes ani-to-down {
    0% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
    100% {
        opacity: 0;
        transform: translate3d(0, 400%, 0);
    } 
}

.ani.ani-to-down {
    -webkit-animation-name: ani-to-down;
    animation-name: ani-to-down; 
}